.Selectbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 50px; /* Reduced height */
    border: 2px solid rgba(255, 255, 255, 0.782);
    border-radius: 8px;
    padding: 6px;
    width: 100%;
}

.Selectbar-logo {
    flex-shrink: 0;
}

.logo {
    width: 30px; /* Smaller logo */
    height: 30px;
}

.Selectbar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Selectbar-content p {
    margin-right: 50px;
    font-size: 12px; /* Reduced font size */
    font-weight: bold;
}

.form-select {
    width: 100%;
    padding-right: 4px;
    border-radius: 4px;
    font-size: 12px; /* Smaller text */ 
    height: 25px; /* Reduced dropdown height */
}